*{
	
margin:0;
padding:0;	
	
}

.nav {


  text-align: center;

}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
      font-family: sans-serif;
}

.nav li {



}

.nav a {
  padding: .5em .8em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
	
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #eeaa43;
  border-right: 3px solid #eeaa43;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #eeaa43;
  border-left: 3px solid #eeaa43;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #eeaa43;
}

.viewer-box {
    margin-top: -200px;
}

html {
    scroll-behavior: smooth;
}
div#slider {
	
    width: 100%;
    height: 100%;
    background: url('img/pocetnafriz.png');
    background-size: cover;
	box-sizing:border-box;
}
div#header {
    display: grid;
    grid-template-columns: 10% 90%;
}
div#menu ul li a {
    color: #fff;
	font-size: 18px;
	text-decoration:none;
}

div#menu ul {
list-style:none;	
	
display: inline-flex;}

div#menu ul li {
line-height: 90px;
}
div#menu {
    text-align: right;
}

div#maintext {
    text-align: -webkit-center;
	    margin-top: 90px;
}
span#menonly {
    display: inline-flex;
}
span#menonly p {
    color: #eeaa43;
    font-weight: 600;
	    line-height: 40px;
}

h1#featuretext {
    font-size: 80px;
    color: #eeaa43;
    font-weight: 500;
}
h5#h5text {
    color: #eeaa43;
    font-size: 15px;
    font-weight: 100;
}
h5#h5text span {
    padding: 10px;
}


p#textdown {
    color: #fff;
    font-style: italic;
    font-size: 16px;
}

button#btnmake {
    margin-top: 25px;
    background: #eeaa43;
    border: 1px solid #0000;
    padding: 15px;
    font-weight: 600;
}
h1#adresshead {
    color: #eeaa43;
    font-size: 13px;
}
#infotrack p {
    font-size: 13px;
    color: #fff;
}
div#infotrack {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
p#number {
    font-size: 25px;
}
span#telephone {
    color: #eeaa43;
    font-size: 13px;
}

div#aboutus {
	display: flex;
    width: 100%;
    height: 100%;
    background: url('img/pocetnafriz.png');
    background-size: cover;
	box-sizing:border-box;
}
div#image {
	  flex-grow: 2;
    background-size: 100% 100% !important;
    background: url(img/aboutusimage.jpg);
    width: 50%;
	box-shadow: inset 0 0 0 1000px #eeaa434f;

}
div#aboutustext {
      flex-grow: 2;
    background: #fff;
    width: 50%;
}

div#containeraboutus {
    padding: 170px;
}
p#natpis {
    color: #eeaa43;
	font-style: italic;
	    font-size: 15px;
}
button#btnaboutus {
    margin-top: 25px;
    background: #eeaa43;
    border: 1px solid #0000;
    padding: 15px;
    font-weight: 600;
}

div#ourservice {
    display: grid;
    width: 100%;
    height: 100%;
    background: #f7f3f3;
    background-size: cover;
    box-sizing: border-box;
    grid-template-columns: 15% 70% 15%;
}
div#divcenter {
    text-align: center;
	margin-top: 50px;
}
div#divleft {
margin-top: 50px;}

div#divright {
margin-top: 50px;}
div#divcenter h1 {
    margin-bottom: -3px;
}
span#crta {
    color: #eeaa43;
    font-size: 30px;
}
span#crta1 {
    color: #eeaa43;
    font-size: 30px;
}
span#crta2 {
    color: #eeaa43;
    font-size: 30px;
}

p#ourservicenatpis {
	margin-bottom: 30px;
    font-style: italic;
}

div#serviceboxes {
    display: flex;
flex-wrap:wrap;
flex-direction:rows;
	}

div#serviceboxes div {

    margin: 5px;

	}
	
	
div#box1 {
	background: url(img/belob.png);
    flex-grow: 2;
	 -webkit-transition-property: background-image;
-webkit-transition-duration: 400ms;
-webkit-transition-timing-function: ease-in;
}


div#box1:hover {
 background-image: url(img/haircut.png);

}



div#box2 {
	background: url(img/belob.png);
    flex-grow: 2;
	 -webkit-transition-property: background-image;
-webkit-transition-duration: 400ms;
-webkit-transition-timing-function: ease-in;
}


div#box2:hover {
 background-image: url(img/triming.png);

}

div#box3 {
	background: url(img/belob.png);
    flex-grow: 2;
	 -webkit-transition-property: background-image;
-webkit-transition-duration: 400ms;
-webkit-transition-timing-function: ease-in;
}


div#box3:hover {
 background-image: url(img/shaving.png);

}

div#box4 {
	background: url(img/belob.png);
    flex-grow: 2;
	 -webkit-transition-property: background-image;
-webkit-transition-duration: 400ms;
-webkit-transition-timing-function: ease-in;
}


div#box4:hover {
 background-image: url(img/styling.png);

}



div#box1 img {
    margin-top: 70px;
    background: #0000;
	margin-bottom: 20px;
}

div#box2 img {
  margin-top: 70px;
    background: #0000;
	margin-bottom: 20px;
}

div#box3 img {
margin-top: 70px;
    background: #0000;
	margin-bottom: 20px;
}

div#box4 img {
margin-top: 70px;
    background: #0000;
	margin-bottom: 20px;
}
div#serviceboxes p {
    line-height: 22px;
	font-size: 14px;

}

button#btnbox {
    background: #eeaa4300;
    border: 1px solid #eeaa43;
    padding: 10px;
    margin-bottom: 50px;
}

a#boxlink {
    color: #eeaa43;
	font-weight: 700;
text-decoration:none;
}

a#boxlink {
 cursor:pointer;
}



div#testamontial {
    display: grid;
    width: 100%;
    height: 100%;
    background: url(img/testamontial.png);
    background-size: cover;
    box-sizing: border-box;
    grid-template-columns: 15% 70% 15%;
}
div#testcenter {
    text-align: center;
	margin-top: 150px;
}
div#testleft {
margin-top: 150px;}

div#testright {
margin-top: 150px;}


div#testboxes1 p {
    color: #ffffffc7;
}

div#testboxes2 p {
    color: #ffffffc7;
}

div#testboxes3 p {
    color: #ffffffc7;
}
div#testcenter h1 {
    color: #fff;
}

h4#nametest {
    margin-top: 25px;
    color: #eeaa43;
    font-size: 24px;
}


div#line1 {
    width: 20px;
    height: 4px;
    background: #ffffff52;
}


div#line2 {
    width: 20px;
    height: 4px;
    background: #ffffff52;
}
div#line3 {
    width: 20px;
    height: 4px;
    background: #ffffff52;
}


div#linecontainer {
    display: inline-flex;
    
    width: 100%;
    margin-left: 633px;
}
div#linecontainer div {
    margin:2px;
}

div#testcenter {
    overflow: hidden;
    height: 210px;
}


div#line1:hover {
    background: #ffffff8f;
	 cursor: pointer;
}

div#line2:hover {
    background: #ffffff8f;
	 cursor: pointer;
}
div#line3:hover {
    background: #ffffff8f;
	 cursor: pointer;
}


#line1 {
   
    background: #ffffff8f;
}

#line2.actived {
   
    background: #ffffff8f;
}

#line3.actived {
   
    background: #ffffff8f;
}

@keyframes scale{
	
100%{
	transform:scale(1);
}	
	
}

@keyframes scale2{
	
100%{
	transform:scale(1);
}	
	
}
@keyframes scale3{
	
100%{
	transform:scale(1);
}	
	
}


#testboxes1{
	transform:scale(0.1);
animation: scale 1500ms forwards;
transition:1000ms ease-out;	

}


#testboxes2{	
	
animation: scale2 1500ms forwards;
transition:1000ms ease-out;		
transform:scale(0.1);
}


#testboxes3{
	
	transform:scale(0.1);
	animation: scale3 1500ms forwards;
transition:1000ms ease-out;		

}
span#comma {
    color: #e1aa43;
    font-weight: 900;
}


div#testadvert {
	border-top: 1px solid #fff6;
	text-align:center;
	    margin-top: 160px;
	opacity: 0.6;
    
    display: inline-grid;

    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
}




div#testadvert div img {
    margin-top: 23px;
}




div#ourstaff {
    display: grid;
    width: 100%;
    height: 100%;
    background: #f7f3f3;
    background-size: cover;
    box-sizing: border-box;
    grid-template-columns: 15% 70% 15%;
}
div#divcenter {
    text-align: center;
	margin-top: 50px;
}
div#divleft {
margin-top: 50px;}

div#divright {
margin-top: 50px;}
div#divcenter h1 {
    margin-bottom: -3px;
}
span#crta {
    color: #eeaa43;
    font-size: 30px;
}

p#ourservicenatpis {
	margin-bottom: 30px;
    font-style: italic;
}

div#staffboxes {
    display: flex;
flex-wrap:wrap;
flex-direction:rows;
	}

div#staffboxes div {
width: 100px;
    margin: 5px;

	}
	
	
div#boxstaff1 {
	box-shadow: inset 0 0 0 1000px #0000005e;
	height: 320px;
	background: url(img/staff2.jpg);
    flex-grow: 2;
	transition:400ms ease-in;
}

div#boxstaff1:hover {
	box-shadow: inset 0 0 0 1000px #eeaa436b;

}


div#boxstaff2 {
	box-shadow: inset 0 0 0 1000px #0000005e;
	height: 320px;
	background: url(img/staff1.jpg);
    flex-grow: 2;
	transition:400ms ease-in;
}

div#boxstaff2:hover {
	 box-shadow: inset 0 0 0 1000px #eeaa436b;
}



div#boxstaff3 {
box-shadow: inset 0 0 0 1000px #0000005e;
	height: 320px;
	background: url(img/staff3.jpg);
    flex-grow: 2;
	transition:400ms ease-in;
}

div#boxstaff3:hover {
	 box-shadow: inset 0 0 0 1000px #eeaa436b;
}
div#boxstaff1 h4 {

    margin-top: 340px;
    color: #000;	
}

div#boxstaff1 p {
	margin-bottom: 10px;
    color: #00000096;
    margin-top: -10px;
    font-style: italic;
}

div#boxstaff2 h4 {
   
    margin-top: 340px;
    color: #000;	
}

div#boxstaff2 p {
	margin-bottom: 10px;
    color: #00000096;
    margin-top: -10px;
    font-style: italic;
}
div#boxstaff3 h4 {
   
    margin-top: 340px;
    color: #000;	
}

div#boxstaff3 p {
	margin-bottom: 10px;
    color: #00000096;
    margin-top: -10px;
    font-style: italic;
}


ul#socialicon li {
    background: #eeaa43;
    display: inline-flex;
    margin: 1px;
    padding: 10px;
}
i {
    color: #fff;
}
	
	
	
	
	div#pricelist {
	display: flex;
    width: 100%;
    height: 100%;
    background: url('img/pocetnafriz.png');
    background-size: cover;
	box-sizing:border-box;
}
div#image2 {
	  flex-grow: 2;
    background-size: 100% 100% !important;
    background: url(img/pricelist.png);
    width: 50%;
	box-shadow: inset 0 0 0 1000px #eeaa434f;

}
div#pricelisttext {
      flex-grow: 2;
    background: #fff;
    width: 50%;
}

div#containerpricelist {
    padding: 80px;
}
p#natpis {
    color: #eeaa43;
	font-style: italic;
	    font-size: 15px;
}
button#btnaboutus {
    margin-top: 25px;
    background: #eeaa43;
    border: 1px solid #0000;
    padding: 15px;
    font-weight: 600;
}

p#textprice {
    
    font-size: 18px;
}
p#price {
    font-size: 25px;
    color: #eeaa43;
}
div#pricelisted {
	padding:10px;
    width: 67%;
    display: flex;
    border-top: 1px solid #00000042;
	border-bottom: 1px solid #00000042;
}

div#pricelisted2 {
	margin-top: -18px;
	padding:10px;
    width: 67%;
    display: flex;
  
	border-bottom: 1px solid #00000042;
}


div#pricelisted3{
	margin-top: -18px;
	padding:10px;
    width: 67%;
    display: flex;
    
	border-bottom: 1px solid #00000042;
}

div#pricelisted4 {
	margin-top: -18px;
	padding:10px;
    width: 67%;
    display: flex;
   
	border-bottom: 1px solid #00000042;
}
div#pricelisted5 {
	margin-top: -18px;
	padding:10px;
    width: 67%;
    display: flex;
 
	border-bottom: 1px solid #00000042;
}
div#pricelisted #price {
    margin-left: 262px;
}
div#pricelisted2 #price {
    margin-left: 273px;
}
div#pricelisted3 #price {
    position: absolute;
    margin-left: 318px;
}
div#pricelisted4 #price {
    margin-left: 319px;
    position: absolute;
}

div#pricelisted5 #price {
    margin-left: 320px;
    position: absolute;
}




div#shop {
    display: grid;
    width: 100%;
    height: 100%;
    background: #f7f3f3;
    background-size: cover;
    box-sizing: border-box;
    grid-template-columns: 15% 70% 15%;
}
div#divcentershop {
    text-align: center;
	margin-top: 50px;
}
div#divleftshop{
margin-top: 50px;}

div#divrightshop {
margin-top: 50px;}
div#divcenter h1 {
    margin-bottom: -3px;
}
span#crta {
    color: #eeaa43;
    font-size: 30px;
}

p#ourservicenatpisshop {
	margin-bottom: 30px;
    font-style: italic;
}

div#serviceboxesshop {
	margin-top:10px;
    display: flex;
flex-wrap:wrap;
flex-direction:rows;
	}

div#serviceboxesshop div {

    margin: 5px;

	}
	
	
div#box1shop {
	background:#fff;
    flex-grow: 2;
	transition:300ms ease-in;
}
div#box1shop:hover {
    box-shadow: 0px 5px 4px 0px #0000006b;
	
}

div#box2shop{
	background:#fff;
    flex-grow: 2;
	transition:300ms ease-in;
}
div#box2shop:hover {
    box-shadow: 0px 5px 4px 0px #0000006b;
	
}
div#box3shop {
	background:#fff;
    flex-grow: 2;
	transition:300ms ease-in;
}

div#box3shop:hover {
    box-shadow: 0px 5px 4px 0px #0000006b;
	
}
div#box4shop {
	background:#fff;
    flex-grow: 2;
	transition:300ms ease-in;
}
div#box4shop:hover {
    box-shadow: 0px 5px 4px 0px #0000006b;

}

p#priceshop {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #eeaa43;
    font-weight: 900;
}

p#shoptext {
    margin-top: 20px;
    border-top: 1px solid #eeaa43;
    border-bottom: 1px solid #eeaa43;
    background: #eeaa43;
    color: #fff;
    font-weight: 700;
	text-decoration:none;
}
button#btnshop {
    margin-top: 85px;
    background: #eeaa43;
    border: 1px solid #0000;
    padding: 15px;
  
}


a#make {
    text-decoration: none;
    color: #000;
	    font-weight: 700;
}

p#readmore {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 10px;
    color: #eeaa43;
    font-weight: 900;
    width: 100px;
    text-align: center;
    padding: 13px;
    margin-left: 50px;
}
p#readmore:hover {
cursor:pointer;
}


div#appoitment{
    display: grid;
    width: 100%;
    height: 100%;
    background: url(img/testamontial.png);
    background-size: cover;
    box-sizing: border-box;
    grid-template-columns: 15% 70% 15%;
}


input#input {
    padding: 10px;
    width: 400px;
    background: #000000a8;
    border: 1px solid #000000a8;
    margin: 5px;
}

input#input::placeholder {
    text-align: center;
}

select {
	text-align:center;
	color:#fff;
    padding: 10px;
    width: 400px;
    background: #000000a8;
    border: 1px solid #000000a8;
    margin: 5px;
}

select::placeholder {
	color:#fff;
    text-align: center;
}

option:{
	background:#000;
	
}

#textareainput {
    margin: 5px;
    width: 814.5px;
    background: #000000a8;
    border: 1px solid #000000a8;
    height: 226px;
}


textarea#textareainput::placeholder {
	margin-top:10px!important;
    text-align: center;
}

div#testcenterapp {
    text-align: center;
	margin-top: 48px;
}
div#testleft {
margin-top: 150px;}

div#testright {
margin-top: 150px;}


div#testcenterapp h1 {
    color: #fff;
}

div#testcenterapp h4 {
    color: #fff;
    font-size: 20px;
}


div#order{
    display: grid;
    width: 100%;
    height: 100%;
    background: #f7f3f3;
    background-size: cover;
    box-sizing: border-box;
    grid-template-columns: 0% 60% 40%;
}

div#testcenterorder {
    text-align: center;
	margin-top: 48px;
}

div#testcenterorder h1 {
    color: #000;

}

input#input2 {
    padding: 10px;
    width: 500px;
      background: #00000000;
    border: 1px solid #000;
    margin: 5px;
}

input#input2::placeholder {
    text-align: center;
	color:#000;
}

#textareainput2 {
    margin: 5px;
    width: 500px;
    background: #00000000;
    border: 1px solid #000;
    height: 120px;
}


textarea#textareainput2::placeholder {
	margin-top:10px!important;
    text-align: center;
	color:#000;
}
div#testrightshop {
	
}

img#cartimage {
    margin-left: 10px;
    float: right;
}

p#orderdown {
    float: left;
    margin-top: 7px;
}
button#btnshopdown {
	overflow:hidden;
    margin-top: 70px;
    background: #eeaa43;
    border: 1px solid #0000;
    padding: 11px;
}




img#mailimage {
    margin-left: 10px;
    float: right;
}

p#ordermail {
    float: left;
    margin-top: 7px;
}
button#btnshopmail {
	overflow:hidden;
    margin-top: 70px;
    background: #eeaa43;
    border: 1px solid #0000;
    padding: 11px;
}

footer#footer {
    background: #eeaa43;
    padding: 10px;
    color: #fff;
    text-align: center;
}

div#footerdiv{
	
background:#000;	
	padding:10px;
}
div#footerdiv ul li a {
    color: #fff;
	font-size: 18px;
	text-decoration:none;
	    line-height: 65px;
}
div#footerdiv ul {
list-style:none;	
	    margin-left: -107px;
display: inline-flex;
}

div#fooerdiv ul li {
padding:17px;
line-height: 90px;
}
div#footerdiv {
    text-align: center;
}
div#footerdiv ul li {
    padding: 6px;
}













/*menu sandwich

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */


#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

button#btnpricelist {
    margin-top: 25px;
    background: #eeaa43;
    border: 1px solid #0000;
    padding: 15px;
    font-weight: 600;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu2
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu2 li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
nav#sandwich {
display: none;}
